body {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}
.creation3 {
  width: 393px;
  height: 852px;
  border-radius: 55px;
  background: linear-gradient(
      180deg,
      rgba(58, 80, 107, 0.2) 0%,
      rgba(58, 80, 107, 0) 100%
    ),
    var(--Background, #0b132b);
}
.cont2 {
  display: flex;
  width: 393px;
  height: 852px;
  padding-top: var(--sds-size-space-1600);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.top3 {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.circle2 {
  border: none;
  background-color: transparent;
}
.description2 {
  display: flex;
  padding: var(--sds-size-space-0);
  flex-direction: column;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}
.wall2 {
  color: #fff;
  text-align: center;

  font-size: var(--Title-Large-Size, 22px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.tips {
  display: flex;
  /* padding: var(--sds-size-space-0) var(--sds-size-space-200); */
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  /* gap: var(--sds-size-space-600); */
  /* align-self: stretch; */
}
.tip1 {
  display: flex;
  padding: var(--sds-size-space-0);
  align-items: center;
  gap: 10px;
  /* gap: var(--sds-size-space-300); */
  align-self: stretch;
}
.iconcircle {
  display: flex;
  padding: var(--sds-size-space-300);
  align-items: center;
  gap: 10px;
}
.secrets {
  color: var(--Text, #f2f2fb);

  font-size: var(--Label-Medium-Size, 12px);
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 166.667% */
  color: var(--Text, #f2f2fb);

  font-size: var(--Label-Medium-Size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  flex: 1 0 0;
}
.copy {
  display: flex;
  padding: var(--sds-size-space-0);
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  gap: var(--sds-size-space-400);
  align-self: stretch;
}
.phrases {
  display: flex;
  height: 148px;
  padding: var(--sds-size-space-300) var(--sds-size-space-200);
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* gap: var(--sds-size-space-150); */
  align-self: stretch;
  border-radius: var(--Corner-Medium, 12px);
  background: radial-gradient(
      184.21% 125.31% at 75.51% 0%,
      rgba(111, 255, 233, 0.4) 0%,
      rgba(111, 255, 233, 0) 100%
    ),
    linear-gradient(180deg, #fbfdff 0%, #c7d1db 100%);

  /* M3/Elevation Light/4 */
  box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}
.table {
  width: 230px;
  color: black;
  color: var(--Background-Secondary, #1c2541);

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.table tbody {
  width: 170px;
}
.table td {
  width: 120px;
  height: 26px;
}
.tap {
  display: flex;
  gap: 5px;
}
.tocopy {
  color: #5bc0be;
  color: var(--Verdigris, #5bc0be);

  font-size: var(--Label-Medium-Size, 12px);
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
}
.actions2 {
  height: 200px;
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: var(--sds-size-space-400);
  flex: 1 0 0;
  align-self: stretch;
  text-decoration: none;
}
.action3 {
  text-decoration: none;
  align-self: stretch;
}
.saved1 {
  width: 242px;
  color: white;
  display: flex;
  padding-bottom: 30px;
  height: 40px;
  padding: var(--sds-size-space-200) var(--sds-size-space-400);
  justify-content: center;
  align-items: center;
  gap: var(--sds-size-space-300);
  align-self: stretch;
  border: none;
  border-radius: var(--Corner-Medium, 12px);
  background: var(--Border, #3a506b);
}
