@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(58, 80, 107, 0.2) 0%,
      rgba(58, 80, 107, 0) 100%
    ),
    var(--Background, #0b132b);
  margin: 0;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  height: 100dvh;
}

/* Container for content */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* TokenCard styles */
.token-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.token-info {
  margin-bottom: 10px;
}

.token-name {
  font-size: 18px;
  font-weight: bold;
}

.token-description {
  font-size: 14px;
  color: #666;
}

.token-price {
  font-size: 16px;
  color: #333;
}

.token-logo img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 600px) {
  body {
    font-size: 14px;
    justify-content: flex-start;
    padding: 16px;
    height: 100dvh;
  }

  .container {
    padding: 0 10px;
  }

  .button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .token-card {
    padding: 10px;
  }

  .token-name {
    font-size: 16px;
  }

  .token-description {
    font-size: 12px;
  }

  .token-price {
    font-size: 14px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 15px;
  }

  .container {
    padding: 0 20px;
  }

  .button {
    padding: 9px 18px;
    font-size: 15px;
  }

  .token-card {
    padding: 12px;
  }

  .token-name {
    font-size: 17px;
  }

  .token-description {
    font-size: 13px;
  }

  .token-price {
    font-size: 15px;
  }
}

/* Desktops (1025px and above) */
@media (min-width: 1025px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 1200px;
    padding: 0 30px;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .token-card {
    padding: 15px;
  }

  .token-name {
    font-size: 18px;
  }

  .token-description {
    font-size: 14px;
  }

  .token-price {
    font-size: 16px;
  }
}
