

.creation1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  max-width: 393px;
  gap: 70px;
}

.circle {
  background-color: transparent;
  border: none;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.wall,
.web {
  color: #fff;
  text-align: center;
  font-size: var(--Title-Large-Size, 22px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.web {
  align-self: stretch;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 30px;
}

.new,
.link {
  width: 100%;
  height: 40px;
  display: flex;
  padding: var(--sds-size-space-200) var(--sds-size-space-400);
  justify-content: center;
  align-items: center;
  gap: var(--sds-size-space-300);
  border: none;
  border-radius: var(--Corner-Medium, 12px);
}

.new {
  background: var(--Primary-action, #45a5a3);
}

.link {
  background: var(--Border, #3a506b);
}

.crt1 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}


@media only screen and (max-width: 768px) { 
  .body{
    height: 100vh;
    width: 100wh;
  }
  
  
  .creation1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    max-width: 100%; 
  }
  .crt1{
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .creation1 {
    max-width: 100%;
    height: 100vh;
  }
  .actions {
    
    gap: 20px;
  }
  .crt1{
    width: 100%;
  }
  
}