.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 30px;
  .h1 {
    color: antiquewhite;
    font-weight: 500;
    font-style: normal;
  }
  .p1 {
    color: var(--Text-Muted, #8a94b0);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
}
.holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 100%;
}

.sp {
  color: aqua;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.phrase{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.btns{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  .btn{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(138, 148, 176);
    background-color: rgb(28, 37, 65);
    border: none;
    border-radius: 1000px;
    padding: 6px 16px;
    cursor: pointer;
    transition: 0.3s;
  }
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 10px;
  width: inherit; 
  box-sizing: border-box;
}

.phrase-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.phrase-item:hover{
  background-color: transparent;
}
.input-phrase {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 12px;
  text-align: center;
  font-size: 10px; 
  background-color: rgb(28, 37, 65);
  color: var(--Text-Muted, #8a94b0);
}

.input-phrase:focus {
  background-color: rgb(28, 37, 65); 
  color: var(--Text-Muted, #8a94b0); 
}


